---
title: GitLab DevOps Fundamentals
suppress_header: true
description: "GitLab DevOps Fundamentals"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_devops" }
    .row
      .col-md-12
        %h2 Course Agenda
        .row
          .col-md-8.col-md-offset-1
            %table
              %thead
                %tr
                  %th Course Day
                  %th Topic
              %tbody
                %tr
                  %td Day 1
                  %td 
                    %ul
                      %li GitLab Overview
                      %li Manage
                      %li Plan
                %tr
                  %td Day 2
                  %td 
                    %ul
                      %li Create
                %tr
                  %td Day 3
                  %td 
                    %ul
                      %li Package
                      %li Verify
                %tr
                  %td Day 4
                  %td 
                    %ul
                      %li Secure
                      %li Release
                      %li Configure
                      %li Monitor
                      %li Defend 
        = partial "includes/services/requirements", locals: { id: "training_sessions_devops" }

        

