---
layout: handbook-page-toc
title: "Acquisition Performance Indicators"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}



<%= performance_indicators('Product Strategy') %>
